h1
{
	text-align:center;
	text-decoration: underline;
	font-weight:bold;
}

body
{
	text-align:left;
	background-image:url("https://media.giphy.com/media/RHIKETUlUINYvV7CAO/giphy.gif");
	background-size:cover;
	font-size:1.2em;
	font-family:Verdana;
}
ariane {

	text-align:right;
}
#block
{
	width: 80%;
	margin:0 auto;
	/*background-image:url("https://media.giphy.com/media/RHIKETUlUINYvV7CAO/giphy.gif");*/
	background-size:cover;
	text-align:center;
	align-content:center;

}
#nav {

    	width: 100%;
	padding: 0 0; 
	margin: 0 0;	
    	overflow: hidden;
	background-color: #F04B12;
	/*border-radius: 6px;*/
}
#nav ul {
    display: inline-block;
    list-style-type: none;
}

#nav li {

	list-style: none;	
	float: left;
}
#nav  a {
    	
	display:inline-block;
	margin: 0;
    	color: white;
    	text-align: center;
    	padding: 14px 16px;
    	text-decoration: none;
	font-size: 30px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
}
#nav li a:hover {

    	background: #CF401E;
	list-style: none;
	float: left;
}



a:visited
{
	color:white;
}
a:hover
{
	text-decoration:underline;
	color:grey;
}
#text {
	background: #CF401E;
	border-radius: 6px;
	margin: 5% 0;
	padding: 10px 10px;
	
}
#noms {
	background-color: rgb(255,255,255,0.8);
	
	color: #CF401E;
	border-radius: 6px;
	margin: 5% 5px;
	padding: 10px 10px;
	overflow: hidden;
	font-weight: bold;
	
}

#messagebis {
	
	text-align : left;
	background: #CF401E;
	border-radius: 6px;
	margin: 5% 0;
	padding: 10px 10px;
	
}
#titre {

	font-size : 50px;
	text-align : left;
	font-weight: bold;	
}
#Synopsisbis {
	text-align : left;
	background: #CF401E;
	border-radius: 6px;
	margin: 5% 0;
	padding: 10px 10px;
	
	
}

#chronologiebis {
	text-align : left;
	background: #CF401E;
	border-radius: 6px;
	margin: 5% 0;
	padding: 10px 10px;
	
	
}

#problèmesbis {
	text-align : center;
	background: #CF401E;
	border-radius: 6px;
	margin: 5% 0;
	padding: 0px 0px;
	
	
}
#archives {
	
    	width: 50%;
	padding: 0 0; 
	margin: 0 0;	
    	overflow: hidden;
	background-color: #F04B12;

}
#archives ul {

    list-style-type: none;
}

#archives li {

	list-style: none;	
	float: center;
}
#archives  a {
    	padding: 2% 0;
	display:inline-block;
    	color: white;
    	text-decoration: none;
	font-size: 30px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
}
#archives li a:hover {
	padding: 2% 0;
	width: 100%;
    	background: #CF401E;
	list-style: none;
	float: center;
}
