h1
{
	text-align:center;
	text-decoration: underline;
	font-weight:bold;
}

body
{

	background-image:url("https://media.giphy.com/media/RHIKETUlUINYvV7CAO/giphy.gif");
	background-size:cover;
	font-size:1.2em;
	font-family:Verdana;
}
#block
{
	width: 900px;
	margin:0 auto;
	/*background-image:url("https://media.giphy.com/media/RHIKETUlUINYvV7CAO/giphy.gif");*/
	background-size:cover;
	text-align:center;
	align-content:center;

}
#nav {
	padding: 0; margin: 0;
	text-align: center; /* centrer le texte */
	
	list-style-type: none;
    	overflow: hidden;
    	background-color: #333;
}
#nav li {
	display: inline;
	list-style: none;
	
	float: left;
}
#nav a {
	display:inline-block;
	margin: 0 30px;
	
	display: block;
    	color: white;
    	text-align: center;
    	padding: 14px 16px;
    	text-decoration: none;
}
/*ul li
{
	list-style-type:none;
	font-weight:bold;
}
*/

a:visited
{
	color:white;
}
a:hover
{
	text-decoration:underline;
	color:grey;
}
